.navbar-brand > img {
    max-width: 25px;
    display: inline-block;
}

.navbar {
    margin-bottom: 0;
}

.margin {
    margin: 50px;
}

.centerer {
    min-height: calc(100vh - 51px);
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.centerer h2 {
    text-align: center;
}

.menu-icon {
    padding: 20px;
    border-radius: 5%;
    transition: background 0.3s;
    margin: 40px 10px;
}

.menu-icon:hover {
    cursor: pointer;
    background-color: #e7e7e7;
}

.menu-icon img {
    max-width: 80%;
    margin: 20px auto;
    display: block;
}

.menu-icon h3 {
    text-align: center;
}

a.nostyleplox {
    text-decoration: none;
    color: #636b6f;
}

a.nostyleplox > * {
    text-decoration: none;
    color: inherit;
}

.upload input {
    width: 100%;
    max-width: 300px;
    display: block;
    margin-bottom: 20px;
    padding: 0px 5px;
    font-size: 18px;
    height: 40px;
}

.upload input[type=checkbox], input[type=radio]  {
    width: auto;
    display: inline-block;
    margin-top: 30px;
    height: 15px;
}

.btn.inline {
    margin-top: 26px;
    height: 40px;
}

.console {
    border-radius: 5px;
    border: #bcbcbc solid 1px;
    background-color: #fff;
    padding: 5px;
    height: 40vh;
    margin: 5vh 0;
    overflow-y: auto;
}

.console p {
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace;
}

.console p.good {
    color: #27ae60;
}

.console p.bad {
    color: #e74c3c;
}

.console p.info {
    color: #2980b9;
}

.scan {
    padding: 10px 20px;
    width: 100%;
    display: block;
    background-color: #fff;
    border: #bcbcbc solid 1px;
}

.scan p {
    margin: 0;
    font-size: 20px;
}

.scan:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.scan:not(:first-child) {
    border-top: none;
}

.scan-result {
    border: #bcbcbc solid 1px;
    padding: 5px;
    background-color: #fff;
}

.scan-plot {
    width: 100%;
}

.scan-plot .svg-container {
    margin: 0px auto !important;
}

.pagination {
    margin: 0;
    border-radius: 0;
    float: right;
}

.pagination a, .pagination span {    
    border-radius: 0 !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #15a01f;
    border-color: #15a01f;
}

span.tenth {
    float: left;
    width: 10%;
    text-align: center;
}

@media (max-width: 767px) {
    input[type=checkbox], input[type=radio]  {
        width: 100%;
        display: block;
        margin-top: 30px;
        margin-top: 15px;
    }

    input[type=checkbox] + label  {
        width: 100%;
        display: block;
        text-align: center;
    }

    .btn.inline {
        margin: 20px auto;
        display: block;
    }
}